table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid #fa5a5a;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #mybody {
    background-color: rgb(116, 116, 117);
  }

  .para {
    font-size: 50px;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue !important;
    }
  }